---
import Layout from '../layouts/Layout.astro';
import Hero from '../components/Hero.astro';
import ProblemList from '../components/ProblemList.astro';
import Problem from '../components/Problem.astro';
import Mission from '../components/Mission.astro';
import ProjectList from '../components/ProjectList.astro';
import Project from '../components/Project.astro';
import Footer from '../components/Footer.astro';

import { manifestoLink, discordLink } from "../config.ts";

const actions = [
	{
		text: "Read manifesto",
		href: manifestoLink,
	},
	{
		text: "Join Discord",
		href: discordLink,
	},
];
---

<Layout
	pageTitle="HEA - Adding 10 billion years of healthy life to the planet"
	title="Adding 10 billion years of healthy life to the planet"
	description="Happily Ever After is a community with a single purpose: to help people live longer, healthier and happier lives."
	image="social-media-cover">
	<main>
		<Hero
			preheading="We believe in"
			heading="Universal Preventive Healthcare."
			description="Happily Ever After is a community with a single purpose: to help people live longer, healthier and happier lives."
			actions={actions}
		/>
		<ProblemList>
			<Problem
				icon="user-injured-regular"
				heading="Prevention is better than a cure."
			>
				<p>Just in the last century, our average lifespans have more than doubled globally through advancements in medicine.</p>
				<p>But, our increased lifespans come with suffering due to a variety of age-related diseases. We think healthcare should be about preventing suffering not prolonging it.</p>
			</Problem>
			<Problem
				icon="hand-holding-heart-regular"
				heading="Healthcare is about humans, not technology."
			>
				<p>A preventive approach to healthcare will help solve these diseases, but it is only possible if we take ownership for our own health.</p>
				<p>Unlike conventional healthcare, we need both technological and cultural innovation to create a proactive approach to human well-being.</p>
			</Problem>
			<Problem
				icon="users-regular"
				heading="Universal healthcare requires open-source tools."
			>
				<p>Everyone deserves access to high-quality preventive healthcare, which means healthcare should be a public good.</p>
        <p>We want to enable truly universal healthcare, through building open-source health tools, products and services.</p>
			</Problem>
		</ProblemList>
		<Mission
			heading="Our mission is to add 10 billion years of healthy life to the planet."
		/>
		<ProjectList
			heading="Projects"
			anchor="projects"
		>
			<Project
				icon="analytics-regular"
				anchor="habitat-health"
				heading="Habitat Health"
				subheading="Protocol for an open, composable health data network"
				github="https://github.com/heacare/habitat-sdk-dart"
				blog="https://mirror.xyz/blog.heacare.eth/IYYBvVHDO4QJZcI1Newu3VttmstTYiePGqzg6SVfjzs"
			>
				<p>A civilization’s ability to solve critical challenges to progress, such as avoiding pandemics and solving aging, is positively correlated to information availability. Unfortunately, today, health data is created, controlled and stored by opaque organizations such as governments and large enterprises.</p>
				<p>Habitat Health is a peer-to-peer data system, that enables an open, composable yet private health data network. With Habitat Health, we believe we can make health data a collaborative, positive-sum system for all participants.</p>
			</Project>
		</ProjectList>
		<Footer />
	</main>
</Layout>
