---
import Layout from '../layouts/Layout.astro';
import Hero from '../components/Hero.astro';
---

<Layout title="HEA - Adding 10 billion years of healthy life to the planet">
	<main>
		<Hero />
	</main>
</Layout>
