---
import Layout from '../layouts/Layout.astro';
import Hero from '../components/Hero.astro';
import ProblemList from '../components/ProblemList.astro';
import Problem from '../components/Problem.astro';
import Mission from '../components/Mission.astro';
import ProjectList from '../components/ProjectList.astro';
import Project from '../components/Project.astro';
import Footer from '../components/Footer.astro';

import { manifestoLink, discordLink } from "../config.ts";

const actions = [
	{
		text: "Read Manifesto",
		href: manifestoLink,
	},
	{
		text: "Join Discord",
		href: discordLink,
	},
];
---

<Layout title="HEA - Adding 10 billion years of healthy life to the planet">
	<main>
		<Hero
			preheading="We believe in"
			heading="Universal Preventive Healthcare."
			description="HEA is community of people exploring and building tools to live healthier lives."
			actions={actions}
		/>
		<ProblemList>
			<Problem
				icon="user-injured-regular"
				heading="Reactive healthcare will only get us so far."
			>
				<p>Just the last century, our average lifespans have more than doubled globally through advancements in medicine.</p>
				<p>However, doubling our lifespan also mean an increase in the years in our life battling diseases when we’re older. These diseases can’t be solved with reactive health tools.</p>
			</Problem>
			<Problem
				icon="hand-sparkles-regular"
				heading="Take back ownership for our personal well-being."
			>
				<p>To solve these diseases, we need preventative healthcare, which is only possible if we take ownership of our own health and well-being.</p>
				<p>Relying on conventional healthcare alone, which has a notorious coordination problem, is not going to work in the future.</p>
			</Problem>
			<Problem
				icon="lock-alt-regular"
				heading="Gain control over our digital health twin."
			>
				<p>A fundamental tool for preventative healthcare is data and data sharing. We want to be able to take control over our data to build a digital health twin, while avoiding centralisation, vendor lock-in that currently plague the healthcare systems around the world.</p>
				<p>That’s why we’re collaborating to build a protocol for an <a href="#habitat-health">open, composable health data network called Habitat Health</a>.</p>
			</Problem>
		</ProblemList>
		<Mission
			heading="Our mission is to add 10 billion years of healthy life to the planet."
		/>
		<ProjectList
			heading="Projects"
			anchor="projects"
		>
			<Project
				icon="analytics-regular"
				anchor="habitat-health"
				heading="Habitat Health"
				subheading="Protocol for an open, composable health data network"
			>
				<p>A civilization’s ability to solve critical challenges to progress, such as avoiding pandemics and solving aging, is positively correlated to information availability. Unfortunately, today, health data is created, controlled and stored by opaque organizations such as governments and large enterprises.</p>
				<p>Habitat Health is a peer-to-peer data system, that enables an open, composable yet private health data network. With Habitat Health, we believe we can make health data a collaborative, positive-sum system for all participants.</p>
			</Project>
		</ProjectList>
		<Footer />
	</main>
</Layout>
