---
import Layout from "../layouts/Layout.astro";
import Hero from "../components/Hero.astro";
import Section from "../components/Section.astro";
import PhaseList from "../components/PhaseList.astro";
import Phase from "../components/Phase.astro";
import Scroller from "../components/Scroller.astro";
import Footer from "../components/Footer.astro";

import { gettingStartedLink, manifestoLink } from "../config.ts";

const actions = [
  {
    text: "How to join us",
    href: gettingStartedLink,
  },
  {
    text: "Find out why",
    href: "#why",
  },
];
const actionsWhy = [
  {
    text: "Read manifesto",
    href: manifestoLink,
  },
];
const actionsJoin = [
  {
    text: "Join us",
    href: gettingStartedLink,
  },
];
---

<Layout
  pageTitle="HEA - Adding 10 billion years of healthy life to the planet"
  title="Adding 10 billion years of healthy life to the planet"
  description="Happily Ever After is building a preventive healthcare system that is open, borderless, human-centered and collectively-owned."
  image="social-media-cover"
>
  <main>
    <Hero
      heading="Collectively creating global preventive care"
      description="Happily Ever After is a community-run network of health and well-being spaces, to help others nurture their mind, body and soul"
      actions={actions}
    />
    <Section
      anchor="why"
      heading="Prevention is better than a cure"
      actions={actionsWhy}
      theme="gradient"
      align="left"
      callout
    >
      <p>
        The current healthcare system is designed to mitigate suffering after an
        issue is found. A preventive approach avoids suffering altogether
      </p>
    </Section>
    <Section
      heading="HEA is a space"
      theme="normal-alt"
      align="right"
      hasGraphic
    >
      <div slot="graphic"><h1>Hello</h1></div>
      <p>
        Our autonomous spaces are operated by local community members and
        experts. People are enabled to approach well-being in a safe and guided
        setting. They are cyber-physical environments designed to be accessible
        to everyone
      </p>
    </Section>
    <Section heading="HEA is a culture" theme="normal" align="left" hasGraphic>
      <div slot="graphic"><h1>Hello</h1></div>
      <p>
        With a strong culture of co-creation and care, members share research
        and facilitate experiences to help others discover what well-being means
        to them
      </p>
    </Section>
    <Section
      heading="HEA is an open health network"
      theme="normal-alt"
      align="right"
      hasGraphic
    >
      <div slot="graphic"><h1>Hello</h1></div>
      <p>
        Our spaces coordinate globally to share ideas, experiences and tools
        with each other and the world. Health should be open, and everything we
        do together is free for anyone else to build on
      </p>
    </Section>
    <Section anchor="roadmap" heading="Roadmap" align="center">
      <PhaseList>
        <Phase
          icon="handshake-alt-regular"
          counter="1"
          heading="Grow community"
          subheading="Gather value-aligned members around understanding the challenges and opportunities in taking the preventive care approach"
        />
        <Phase
          icon="hammer-regular"
          counter="2"
          heading="Seed spaces"
          subheading="Launch pilot health and well-being spaces to validate our impact on community well-being"
        />
        <Phase
          icon="globe-regular"
          counter="3"
          heading="Scale network"
          subheading="Empower members to start autonomous and community-run spaces all over the world"
        />
      </PhaseList>
    </Section>
    <Section
      anchor="join"
      actions={actionsJoin}
      theme="gradient"
      align="center"
      callout
    >
      <p>
        If you would like to contribute to the future we envision, join us in
        collectively creating global preventive care
      </p>
      <p>
        We're looking for <Scroller duration="20s">
          <b
            >Clinicians ∙ Health Coaches ∙ Therapists ∙ Meditation Guides ∙
            Allied Health Professionals ∙ Designers ∙ Creatives ∙ Digital
            Marketers ∙ Health Influencers ∙ Software Engineers ∙ Writers ∙
            Storytellers ∙ Sleep Researchers ∙
          </b>
        </Scroller>
      </p>
    </Section>
    <Section
      anchor="supporters"
      heading="Supporters"
      theme="normal-alt"
      align="center"
    >
      <p>TODO</p>
    </Section>
    <Footer />
  </main>
</Layout>
