---
import Layout from '../layouts/Layout.astro';
import Hero from '../components/Hero.astro';
import ProblemList from '../components/ProblemList.astro';
import Problem from '../components/Problem.astro';
import Mission from '../components/Mission.astro';
import ProjectList from '../components/ProjectList.astro';
import Project from '../components/Project.astro';
import Footer from '../components/Footer.astro';

import { manifestoLink, discordLink } from "../config.ts";

const actions = [
	{
		text: "Read Manifesto",
		href: manifestoLink,
	},
	{
		text: "Join Discord",
		href: discordLink,
	},
];
---

<Layout title="HEA - Adding 10 billion years of healthy life to the planet">
	<main>
		<Hero
			preheading="We believe in"
			heading="Universal Preventive Healthcare."
			description="A community of people exploring and building tools to live healthier lives"
			actions={actions}
		/>
		<ProblemList>
			<Problem
				icon="user-injured-regular"
				heading="Healthcare should not be just reactive."
				content="society ... reactive ... ... bad ... preventive ... suffering ... ... ...."
			/>
			<Problem
				icon="hand-sparkles-regular"
				heading="Take back ownership for our personal well-being."
				content="... put health as a pillar of our life ... responsibility ... ownership ... taking back from big companies."
			/>
			<Problem
				icon="lock-alt-regular"
				heading="Gain control over our digital health twin."
				content="Our digital twin ... data ... ... big tech ... cloud ... local ... ... protocols ... decentralisation ...."
			/>
		</ProblemList>
		<Mission
			heading="Our mission is to add 10 billion years of healthy life to the planet."
		/>
		<ProjectList
			heading="Projects"
		>
			<Project
				icon="analytics-regular"
				heading="Habitat Health"
				subheading="Protocol for an open, composable health data network"
			>
				<p>A civilization’s ability to solve critical challenges to progress, such as avoiding pandemics and solving aging, is positively correlated to information availability. Unfortunately, today, health data is created, controlled and stored by opaque organizations such as governments and large enterprises.</p>
				<p>Habitat Health is a peer-to-peer data system, that enables an open, composable yet private health data network. With Habitat Health, we believe we can make health data a collaborative, positive-sum system for all participants.</p>
			</Project>
		</ProjectList>
		<Footer />
	</main>
</Layout>
