---
import Button from "./Button.astro";

const { actions } = Astro.props;
---

<div class="actions">
  {
    actions?.map((link) => (
      <Button
        href={link.href}
        target={link.href.startsWith("http") ? "_blank" : null}
      >
        <span>{link.text}</span>
        <span aria-hidden="true">&#10140;</span>
      </Button>
    ))
  }
</div>

<style>
  .actions {
    margin: 1.4545em 0;

    display: flex;
    flex-wrap: wrap;
    gap: var(--gap-actions-vertical) var(--gap-actions);
    justify-content: var(--items-align);
  }

  span {
    margin-right: 0.4em;
  }
  span:last-child {
    margin-right: 0;
  }
</style>
