---
const { href, target } = Astro.props;
---

{
  href ? (
    <a href={href} target={target}>
      <slot />
    </a>
  ) : (
    <button>
      <slot />
    </button>
  )
}

<style>
  button,
  a {
    display: inline-block;

    /* Reset styles */
    background: none;
    color: var(--color-button);
    text-decoration: none;

    /* Layout */
    padding: 0.5em 1em;

    /* Shape */
    border: 2px solid var(--color-button);
    border-radius: 16px;

    /* Text style */
    font-weight: var(--font-weight-button);
    font-size: var(--font-scale-button);
  }
  button:hover,
  a:hover {
    background: var(--color-button-background);
  }
</style>
