---
const { href } = Astro.props;
---

{href ? (<a href={href}>
	<slot />
</a>) : (<button>
	<slot />
</button>)}

<style>
	button, a {
		/* Reset styles */
		background: none;
		color: white;
		text-decoration: none;
		/* Layout */
		padding: 0.5em 1em;
		/* Shape */
		border: 0.2em solid white;
		border-radius: 0.75em;
		/* Text style */
		font-weight: 600;
	}
	button:hover, a:hover {
		background: white;
		color: #434343;
	}
</style>
