---
const { padding, collapsedPadding, justifyCenter, flex } = Astro.props;

let outerClass = "column";
if (justifyCenter) {
  outerClass += " justify-center";
}

let flexValue = "1";
if (flex) {
  flexValue = flex;
}

let collapsedPaddingValue = padding;
if (collapsedPadding) {
  collapsedPaddingValue = collapsedPadding;
}
---

<div class={outerClass}>
  <slot />
</div>

<style define:vars={{ padding, collapsedPaddingValue, flexValue }}>
  .column {
    /* Column flex */
    flex: var(--flexValue);
    /* Padding */
    padding: var(--padding);
    /* Lines */
    border-bottom: var(--row-border);
    margin-bottom: calc(0px - var(--row-thickness));
  }
  .column:not(:last-child) {
    /* Lines */
    border-right: var(--row-border);
    margin-right: calc(0px - var(--row-thickness));
  }
  @media screen and (max-width: 720px) {
    .column {
      border-bottom: none;
      padding: var(--collapsedPaddingValue);
    }
    .column:not(:last-child) {
      border-right: none;
    }
  }
  .column.justify-center {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
</style>
