---
import Row from './Row.astro';
import Column from './Column.astro';
import Button from './Button.astro';
import Navigation from './Navigation.astro';
import color from '../videos/color.mp4';
---

<div class="wrapper">
	<video class="background" muted autoplay loop playsinline>
		<source src={color} type="video/mp4">
	</video>

	<Row>
		<Column>
			<div class="navigation">
				<Navigation />
			</div>
		</Column>
	</Row>
	<section>
		<Row>
			<Column>
				<h1>
					<small>We believe in<br></small>
					<big>Universal Preventative Healthcare.</big>
				</h1>
			</Column>
		</Row>
		<Row>
			<Column>
				<p>A community of people exploring and building tools to live healthier lives</p>
			</Column>
			<Column>
				<div class="actions">
					<Button href="/">Read manifesto</Button>
					<Button href="/">Join Discord</Button>
				</div>
			</Column>
		</Row>
	</section>
</div>

<style>
	.wrapper {
		/* Allow the background to be absolutely positioned */
		position: relative;
		/* Force the hero to cover the whole page */
		min-height: 100vh;
		/* Text style */
		color: white;
		/* Set a default background color */
		background: #FF9900;
		z-index: 10;
	}

	.background {
		/* Position the background behind the content and navigation */
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		z-index: -10;
		/* Scale the background to cover instead of fitting */
		object-fit: cover;
		filter: brightness(0.95);
	}

	.navigation {
		/* Layout */
		padding: 0rem 2rem;
	}

	h1 {
		margin: 0;
		padding: calc(5vh + 5vw) 2rem;
		font-size: 1em;
	}
	h1 small {
		font-size: 1.5em;
	}
	h1 big {
		font-size: 5em;
		line-height: 1.1;
	}

	p {
		/* Layout */
		margin: 0;
		padding: 2rem;
		/* Text style */
		font-size: 1.5em;
	}

	.actions {
		/* Layout */
		padding: 2rem;
		/*
		display: flex;
		flex-direction: column;
		height: 100%;
		justify-content: center;
		align-items: center;
		*/
		/* Text style */
		font-size: 1.2em;
	}
	.actions > :global(*) {
		margin: 0.5rem;
		display: block;
	}
</style>
