---
import SvgImage from "./SvgImage.astro";
import SvgIcon from "./SvgIcon.astro";

import color from "../videos/color.mp4";
---

<!--
<video class="background" muted autoplay loop playsinline>
  <source src={color} type="video/mp4" />
</video>
-->
<div class="background hero-background">
  <div class="left">
    <SvgIcon icon="hand-holding-heart-regular" />
  </div>
  <div class="right">
    <SvgImage image="mark" />
  </div>
</div>

<style>
  .background {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    top: 0;
    z-index: -1;

    color: var(--color-subtle);
    font-size: calc(32px + 15vw);
  }

  .left,
  .right {
    position: absolute;
  }
  .left {
    left: -0.1em;
    bottom: 16px;
  }
  .right {
    right: -0.8em;
    bottom: 16px;
  }
</style>

<script>
  import onScroll from "../onscroll.ts";

  onScroll(
    document.querySelectorAll(".hero-background"),
    (ele) => ele,
    (ele, { scrollY, innerHeight }) => {
      const shift = scrollY / innerHeight;
      const offset = shift * 200;
      if (scrollY < ele.offsetHeight) {
        ele.style.transform = `translateY(${offset}px)`;
      } else {
        ele.style.transform = `translateY(0px)`;
      }
    }
  );
</script>
