---
import SvgImage from './SvgImage.astro';
import SvgIcon from './SvgIcon.astro';

import { blogLink, twitterLink, discordLink } from '../config.ts';

const links = [
	{
		text: "Blog",
		href: blogLink,
	},
	{
		icon: "twitter",
		href: twitterLink,
	},
	{
		icon: "discord",
		href: discordLink,
	},
];
---

<nav>
	<a href="/">
		<SvgImage image="logo" height="3em" scale="1.3" />
	</a>
	<ul>
		{links.map(link => {
			if (link.icon) {
				return (
					<li><a href={link.href} target="_blank"><SvgIcon icon={link.icon} height="1.3em" /></a></li>
				);
			}
			return (
				<li><a href={link.href} target="_blank">{link.text}</a></li>
			);
		})}
	</ul>
</nav>

<style>
	:root {
		--spacing: 1rem;
		--gap: 2rem;
	}

	nav {
		/* Layout */
		padding: var(--spacing) 0;
		display: flex;
		align-items: center;
		justify-content: space-between;
		gap: var(--gap);
		/* Ensure navigation icons don't have extra space */
		line-height: 1;
	}

	ul {
		/* Reset */
		list-style: none;
		margin: 0;
		padding: 0;
		/* Layout */
		display: flex;
		align-items: center;
		gap: var(--gap);
	}

	a {
		/* Text style */
		color: inherit;
		text-decoration: none;
		text-transform: uppercase;
		font-weight: 600;
	}

	li a {
		/* Layout */
		display: block;
		/* Shape */
		border-radius: 0.75em;
		/* Increase click target */
		padding: calc(var(--gap) / 2);
		margin: calc(var(--gap) / -2);
	}

	li a:hover {
		color: #434343;
		background: white;
	}
</style>
