---
import SvgIcon from "./SvgIcon.astro";

const { icon, counter, heading, subheading } = Astro.props;
---

<div class="row">
  <h2 class="counter">{counter}</h2>
  <div class="details">
    <h2>
      {heading}
    </h2>
    <p>{subheading}</p>
  </div>
</div>

<style>
  .row {
    display: flex;
    align-items: flex-start;
    gap: 64px;

    margin: 64px 0;
  }

  .counter {
    font-size: 3.5rem;
    text-align: right;

    width: 3rem;
    margin: 0;
  }

  .details {
    flex: 1;
    text-align: left;

    margin: -16px 0;
  }

  .details h2,
  .details p {
    margin: 16px 0;
  }
</style>
