---
import Row from "./Row.astro";
import Column from "./Column.astro";
import SvgImage from "./SvgImage.astro";
---

<section>
  <div class="background">
    <span class="background-logo">
      <SvgImage image="logo" height="32rem" />
    </span>
    <span class="background-mark">
      <SvgImage image="mark" height="28rem" />
    </span>
  </div>
  <Row>
    <Column padding="2rem" />
  </Row>
  <slot />
</section>

<style>
  section {
    margin-bottom: 4rem;
    /* Create a positioning scope */
    position: relative;
  }

  .background {
    /* Large cover area */
    position: absolute;
    top: 0;
    bottom: -4rem;
    width: 100%;
    overflow: hidden;
    /* Layout */
    z-index: -10;
    /* Style */
    color: rgba(0, 0, 0, 0.05);
  }

  .background-logo {
    position: absolute;
    top: 6rem;
    left: -18rem;

    transform: rotate(90deg);
  }

  .background-mark {
    position: absolute;
    bottom: 1rem;
    right: -14rem;
  }
</style>
