---
import Row from './Row.astro';
import Column from './Column.astro';
import SvgIcon from './SvgIcon.astro';

const { heading, content, icon } = Astro.props;
---

<Row>
	<Column padding="6rem 6rem 6rem 2rem">
		<SvgIcon icon={icon} height="2.5rem" />
		<h1>{heading}</h1>
	</Column>
	<Column padding="0 2rem" justifyCenter>
		<p>{content}</p>
	</Column>
</Row>

<style>
	h1 {
		margin: 1rem 0 0;
	}

	p {
		font-size: var(--font-scale-md);
	}
</style>
