---
import Row from './Row.astro';
import Column from './Column.astro';
---

<section>
	<Row>
		<Column padding="2rem" />
	</Row>
	<slot />
</section>

<style>
	section {
		margin-bottom: 4rem;
	}
</style>
