---
import Row from './Row.astro';
import Column from './Column.astro';
import SvgIcon from './SvgIcon.astro';

const { icon, heading, subheading } = Astro.props;
---

<Row>
	<Column>
		<div class="inner">
			<span class="top-right">
				<SvgIcon icon={icon} />
			</span>
			<h1>{heading}</h1>
			<h4>{subheading}</h4>
			<slot />
		</div>
	</Column>
</Row>

<style>
	.inner {
		padding: 0 2rem;
		margin: 2rem 0;
	}

	.top-right {
		float: right;
	}
</style>
