---
import Row from "./Row.astro";
import Column from "./Column.astro";

const { anchor, heading } = Astro.props;
---

<section>
  <div class="heading-outer">
    <div class="heading-inner">
      <h3><a id={anchor}></a>{heading}</h3>
    </div>
  </div>
  <slot />
</section>

<style>
  section {
    margin: 4rem 0;
  }

  .heading-outer {
    padding: 0 2rem;
  }

  .heading-inner {
    max-width: var(--width-lg);
    margin: 0 auto;
    background: red;
    height: 0;
  }

  h3 {
    display: inline-block;
    position: relative;
    top: -0.85em;
    left: -0.75em;
    margin: 0;
    padding: 0.1em 0.4em;
    /* Style */
    background: white;
  }
</style>
