---
const { hideBorderBottom, flexReverse, bordered } = Astro.props;

const outerStyle = {};
if (hideBorderBottom === true) {
  outerStyle["borderBottom"] = "none";
}

let innerClass = "inner";
if (flexReverse) {
  innerClass += " inner-reverse";
}
if (bordered) {
  innerClass += " inner-bordered";
}
---

<div class="outer" style={outerStyle}>
  <div class={innerClass}>
    <slot />
  </div>
</div>

<style>
  .outer {
    /* Lines */
    border-top: var(--row-border);
    border-bottom: var(--row-border);
    margin-top: -2px;
    /* Layout */
    padding: 0 2rem;
  }

  .inner {
    /* Layout */
    max-width: var(--width-lg);
    margin: 0 auto;
    /* Column flex */
    display: flex;
  }
  .inner.inner-bordered {
    border-left: var(--row-border);
    border-right: var(--row-border);
  }
  @media screen and (max-width: 720px) {
    .inner {
      flex-direction: column;
    }
    .inner.inner-reverse {
      flex-direction: column-reverse;
    }
  }
</style>
