---
import Actions from "./Actions.astro";

const { anchor, heading, actions, theme, align, callout, hasGraphic } =
  Astro.props;

let outerClass = "";
if (theme) {
  outerClass += " theme-" + theme;
}
if (align) {
  outerClass += " align-" + align;
}
if (callout) {
  outerClass += " callout";
}
---

<section class={outerClass}>
  <div class="inner">
    {
      hasGraphic && (
        <div class="graphic">
          <slot name="graphic" />
        </div>
      )
    }
    <div class="content">
      {anchor && <a id={anchor} aria-hidden="true" />}
      <div class="margins">
        {heading && <h1>{heading}</h1>}
        <slot />
        {actions && <Actions actions={actions} />}
      </div>
    </div>
  </div>
</section>

<style>
  .theme-normal {
    background: white;
  }
  .theme-normal-alt {
    background: linear-gradient(
      104.29deg,
      rgba(255, 176, 57, 0.1) 17.32%,
      rgba(255, 90, 255, 0.1) 89.26%
    );
  }
  .theme-gradient {
    background: linear-gradient(104.29deg, #ffb039 17.32%, #ff5aff 89.26%);
    --color-content: var(--color-content-inverted);
    --color-button: var(--color-button-inverted);
    --color-button-background: var(--color-button-background-inverted);
    color: var(--color-content);
  }
  .theme-gradient h1 {
    background: none;
    background-clip: initial;
    -webkit-background-clip: initial;
    color: var(--color-content);
  }

  section {
    padding: 2rem var(--gap-sides);
  }

  .inner {
    max-width: var(--width-md);
    margin: 0 auto;
  }
  .callout .inner {
    max-width: var(--width-sm);
  }
  .align-left .inner {
    text-align: left;
    --items-align: left;
    display: flex;
    flex-direction: row-reverse;
  }
  .align-right .inner {
    text-align: right;
    --items-align: right;
    display: flex;
    flex-direction: row;
  }
  .align-center .inner {
    text-align: center;
    --items-align: center;
  }

  .margins {
    margin: 6rem auto;
  }

  .graphic {
    flex: 1;
  }
  .content {
    flex: 1;
  }
</style>
