---
let { height, margin, icon } = Astro.props;
height ??= "1.5em";

const { default: html } = await import(`../images/icons/${icon}.svg?raw`);
---

<span set:html={html}></span>

<style define:vars={{ height, margin }}>
  span {
    /* Set height based on prop */
    height: var(--height);
    margin: var(--margin);
    display: inline-block;
    vertical-align: middle;
    line-height: 100%;
  }

  span :global(svg) {
    /* Styles cannot be added directly to the imported SVG. Instead, the SVG is wrapped in a height-bounding element and the SVG is scaled to the parent */
    height: 100%;
    width: auto;
    /* Use currentColor as fill */
    fill: currentColor;
  }
</style>
