{{ define "main" }}
  <div class="py-2 sm:py-20 bg-neutral-50">
    <div class="flex items-center justify-center my-20 px-8">
      <img
        class="w-16 -m-3 mix-blend-darken"
        src="{{ .Site.Params.navbar.logo | relURL }}"
      />
      <span class="font-bold text-2xl tracking-tight ml-4"
        >Happily Ever After</span
      >
    </div>
    <div class="mx-auto max-w-md sm:max-w-2xl -rotate-1 py-2">
      <main class="m-6 my-12 bg-white rounded-lg shadow-lg">
        {{ with .Params.letter.subject }}
          <h1
            class="px-12 py-4 text-lg font-bold border-b-2 border-neutural-200"
          >
            {{ . }}
          </h1>
        {{ end }}
        <section class="px-12 py-8 prose text-justify text-lg leading-loose">
          {{ .Content }}
        </section>
      </main>

      <div
        class="m-6 my-12 bg-white rounded-lg shadow-lg flex px-12 py-4 justify-between items-center"
      >
        {{ with .Params.earlyaccess }}
          <h1 class="text-lg font-bold">
            {{ .cta }}
          </h1>
          <a
            class="{{ $.Site.Params.style.button }} whitespace-nowrap my-1"
            href="{{ .link }}"
          >
            {{ .go }}
          </a>
        {{ end }}
      </div>

      <div class="m-6 my-12 bg-white rounded-lg shadow-lg">
        {{ with .Params.community.cta }}
          <h1
            class="px-12 py-4 text-lg font-bold border-b-2 border-neutural-200"
          >
            {{ . }}
          </h1>
        {{ end }}
        <section class="px-12 py-2">
          <p class="my-6 text-center">
            {{ with .Params.telegram }}
              <a
                class="{{ $.Site.Params.style.button }} whitespace-nowrap my-1"
                href="{{ .link }}"
              >
                {{ .go }}
              </a>
            {{ end }}
            {{ with .Params.whitepaper }}
              <a
                class="{{ $.Site.Params.style.button }} whitespace-nowrap my-1"
                href="{{ .link }}"
              >
                {{ .go }}
              </a>
            {{ end }}
          </p>
        </section>
      </div>

      <div class="m-6 my-12 flex justify-center gap-6">
        {{ range $social := .Site.Params.socials }}
          <a
            class="inline-block leading-none text-gray-700 hover:text-gray-800"
            target="_blank"
            href="{{ .url }}"
            title="{{ .username }}"
			>{{ partial "icon.html" (dict "icon" .icon "class" "h-10") }}</a>
        {{ end }}
      </div>
    </div>
  </div>
{{ end }}
