---
export interface Props {
	title: string;
}

const { title } = Astro.props as Props;
---

<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="generator" content={Astro.generator} />
		<title>{title}</title>
		<link rel="preconnect" href="https://fonts.googleapis.com">
		<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
		<link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=DM+Serif+Display&family=Source+Sans+Pro:wght@400;700&display=swap">
	</head>
	<body>
		<slot />
	</body>
</html>
<style>
	:root {
		--base-scale: 100%;
		--font-scale: 1.2em;
		--font-scale-lg: 1.5em;
		--font-scale-xl: 2em;
	}

	:global(:root) {
		--width-lg: 80rem;
	}

	:global(*), :global(*:before), :global(*:after) {
		box-sizing: border-box;
	}

	html {
		/* Set up a nice default sans-serif font stack */
		font-family: "Source Sans Pro", system-ui, -apple-system, "Segoe UI", Roboto, "Helvetica Neue", "Noto Sans", "Liberation Sans", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
		font-size: var(--base-scale);
		-webkit-font-smoothing: antialiased;
	}

	body {
		margin: 0;
		font-size: var(--font-scale);
	}

	:global(h1) {
		font-size: var(--font-scale-xl);
		font-family: 'DM Serif Display', serif;
		font-weight: 400;
	}

	:global(h2) {
		font-size: var(--font-scale-lg);
		font-family: 'DM Serif Display', serif;
		font-weight: 400;
	}

	:global(code) {
		font-family: Menlo, Monaco, Lucida Console, Liberation Mono, DejaVu Sans Mono, Bitstream Vera Sans Mono, Courier New, monospace;
	}
</style>
